<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
	<style>
#ip {
visibility:hidden;
}
	</style>

        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}" />
		 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate-custom.css')}}" />
		

    </head>
    <body>
        <div class="container">
		<br/>
		<br/>
		<br/>
		<p><i class="fa fa-user-circle fa-5x"></i></p>
		<br/>
		<br/>
		<br/>
		<p style="font-size:300%">USER NAME</p>
		<p style="font-size:200%">{{u}}</p>
		<br/>
		<br/>
		<center>
		<p class="change_link" style="font-size:300%">
		<a href="{{url_for('changepwd')}}"> CHANGE PASSWORD </a>
		</p>
		<center>
		<br/>
		<br/>
		<p class="login button " id="update">
		
		<button id="up"  onclick="update()">UPDATE THEATRE</button>
		</p>
		<br/>
		<br/>
		<form action="http://localhost:5000/ut" method="POST">
		<div id="ip">
		<input type="text" name='pref'>ENTER YOUR UPDATE</input>
		<br/>
		<br/>
		<br/>
		<input type="submit" value="Submit"></input>
		</div>
		</form>
		<br/>
		<br/>
		
		</div>
		
		</body>
		<script>
		function update(){
		var x=document.getElementById('ip');
		 if (x.style.visibility === 'hidden') {
    x.style.visibility = 'visible';
  } else {
    x.style.visibility = 'hidden';
  }
		}
		</script>
		</html>